{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

<div class="container-xxl py-3">
    <div class="container">
        {% if land.image_set.all %}
            {% with first_image=land.image_set.first %}
        <div class="row g-5 align-items-center">
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
            <h2 class="mb-3">{{ land.title }}</h2>
            {% if land.price %}
                <h5 class="text-primary">{{ land.price }}</h5>
            {% endif %}
            <div class="pb-3 pe-0">
                <img class="img-fluid shadow-example" src="{{ first_image.image.url }}" alt="{{ land.title }}" style="height: 450px; width: 100%; object-fit: cover; border-radius: 4px;">
            </div>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" id="description-container">
            <div class="" style="margin-left:20px;">
                <h4 class="text-primary">Description</h4>
                <p class="" style="margin-left: 0 !important; letter-spacing: 1px; font-size: 17px">{{ land.description|linebreaks }}</p>
            </div>   
        </div>
        </div>
            {% endwith %}
        {% endif %}
    </div>
</div>

<!-- Search Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        {% for land_image in land_images %}
            <div class="testimonial-item bg-light rounded p-3">
              <div class="bg-white border rounded p-4">
                  <div class="d-flex align-items-center">
                    <img src="{{ land_image.image.url }}" class="d-block w-100" alt="{{ land.title }} - Image {{ forloop.counter }}" style="height:300px; 300px;">
                  </div>
              </div>
            </div>
        {% endfor %}
      </div>
  </div>
</div> 
<!-- Search End -->
{% comment %} 
<style>
  .csslider {
    -moz-perspective: 1300px;
    -ms-perspective: 1300px;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    display: inline-block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
  }
  .csslider > input {
    display: none;
  }
  .csslider > input:nth-of-type(10):checked ~ ul li:first-of-type {
    margin-left: -900%;
  }
  .csslider > input:nth-of-type(9):checked ~ ul li:first-of-type {
    margin-left: -800%;
  }
  .csslider > input:nth-of-type(8):checked ~ ul li:first-of-type {
    margin-left: -700%;
  }
  .csslider > input:nth-of-type(7):checked ~ ul li:first-of-type {
    margin-left: -600%;
  }
  .csslider > input:nth-of-type(6):checked ~ ul li:first-of-type {
    margin-left: -500%;
  }
  .csslider > input:nth-of-type(5):checked ~ ul li:first-of-type {
    margin-left: -400%;
  }
  .csslider > input:nth-of-type(4):checked ~ ul li:first-of-type {
    margin-left: -300%;
  }
  .csslider > input:nth-of-type(3):checked ~ ul li:first-of-type {
    margin-left: -200%;
  }
  .csslider > input:nth-of-type(2):checked ~ ul li:first-of-type {
    margin-left: -100%;
  }
  .csslider > input:nth-of-type(1):checked ~ ul li:first-of-type {
    margin-left: 0%;
  }
  .csslider > ul {
    position: relative;
    width: 820px;
    height: 420px;
    z-index: 1;
    font-size: 0;
    line-height: 0;
    border: 10px solid #ffffff;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .csslider > ul > li {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 15px;
    font-size: initial;
    line-height: normal;
    -moz-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    vertical-align: top;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
  }
  .csslider > .navigation {
    position: absolute;
    bottom: -8px;
    left: 50%;
    z-index: 10;
    margin-bottom: -10px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .csslider > .navigation > div {
      margin-left: -100%;
  }
  .csslider > .navigation label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 4px;
    padding: 4px;
    background: #3A3A3A;
  }
  .csslider > .navigation label:hover:after {
    opacity: 1;
  }
  .csslider > .navigation label:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6px;
    margin-top: -6px;
    background: #ff0000;
    border-radius: 50%;
    padding: 6px;
    opacity: 0;
  }
  .csslider > .arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .csslider.inside .navigation {
    bottom: 10px;
    margin-bottom: 10px;
  }
  .csslider > input:nth-of-type(1):checked ~ .navigation label:nth-of-type(1):after,
  .csslider > input:nth-of-type(2):checked ~ .navigation label:nth-of-type(2):after,
  .csslider > input:nth-of-type(3):checked ~ .navigation label:nth-of-type(3):after,
  .csslider > input:nth-of-type(4):checked ~ .navigation label:nth-of-type(4):after,
  .csslider > input:nth-of-type(5):checked ~ .navigation label:nth-of-type(5):after,
  .csslider > input:nth-of-type(6):checked ~ .navigation label:nth-of-type(6):after,
  .csslider > input:nth-of-type(7):checked ~ .navigation label:nth-of-type(7):after,
  .csslider > input:nth-of-type(8):checked ~ .navigation label:nth-of-type(8):after,
  .csslider > input:nth-of-type(9):checked ~ .navigation label:nth-of-type(9):after,
  .csslider > input:nth-of-type(10):checked ~ .navigation label:nth-of-type(10):after,
  .csslider > input:nth-of-type(11):checked ~ .navigation label:nth-of-type(11):after {
    opacity: 1;
  }
  .csslider > .arrows {
    position: absolute;
    left: -31px;
    top: 50%;
    width: 100%;
    height: 26px;
    padding: 0 31px;
    z-index: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .csslider > .arrows label {
    display: none;
    position: absolute;
    top: -50%;
    padding: 13px;
    box-shadow: inset 2px -2px 0 1px #3A3A3A;
    cursor: pointer;
    -moz-transition: box-shadow 0.15s, margin 0.15s;
    -o-transition: box-shadow 0.15s, margin 0.15s;
    -webkit-transition: box-shadow 0.15s, margin 0.15s;
    transition: box-shadow 0.15s, margin 0.15s;
  }
  .csslider > .arrows label:hover {
    box-shadow: inset 3px -3px 0 2px #ff0000;
    margin: 0 0px;
  }
  .csslider > .arrows label:before {
    content: '';
    position: absolute;
    top: -100%;
    left: -100%;
    height: 300%;
    width: 300%;
  }
  .csslider.infinity > input:first-of-type:checked ~ .arrows label.goto-last,
  .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(0),
  .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(1),
  .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(2),
  .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(3),
  .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(4),
  .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(5),
  .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(6),
  .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(7),
  .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(8),
  .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(9),
  .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(10) {
    display: block;
    left: 0;
    right: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .csslider.infinity > input:last-of-type:checked ~ .arrows label.goto-first,
  .csslider > input:nth-of-type(1):checked ~ .arrows > label:nth-of-type(2),
  .csslider > input:nth-of-type(2):checked ~ .arrows > label:nth-of-type(3),
  .csslider > input:nth-of-type(3):checked ~ .arrows > label:nth-of-type(4),
  .csslider > input:nth-of-type(4):checked ~ .arrows > label:nth-of-type(5),
  .csslider > input:nth-of-type(5):checked ~ .arrows > label:nth-of-type(6),
  .csslider > input:nth-of-type(6):checked ~ .arrows > label:nth-of-type(7),
  .csslider > input:nth-of-type(7):checked ~ .arrows > label:nth-of-type(8),
  .csslider > input:nth-of-type(8):checked ~ .arrows > label:nth-of-type(9),
  .csslider > input:nth-of-type(9):checked ~ .arrows > label:nth-of-type(10),
  .csslider > input:nth-of-type(10):checked ~ .arrows > label:nth-of-type(11),
  .csslider > input:nth-of-type(11):checked ~ .arrows > label:nth-of-type(12) {
    display: block;
    right: 0;
    left: auto;
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
/*#region MODULES */
/*#endregion */
/*___________________________________ LAYOUT ___________________________________ */
  * {
    margin: 0;
    padding: 0;
  }
  ul {
    padding-left: 40px;
  }

    #slider1 {
    margin: 20px;
    font-family: 'Lato';
  }
  #slider1 > input:nth-of-type(3):checked ~ ul #bg {
    width: 80%;
    padding: 22px;
    -moz-transition: .5s .5s;
    -o-transition: .5s .5s;
    -webkit-transition: .5s .5s;
    transition: .5s .5s;
  }
  #slider1 > input:nth-of-type(3):checked ~ ul #bg div {
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    -webkit-transform: translate(0);
    transform: translate(0);
    -moz-transition: .5s .9s;
    -o-transition: .5s .9s;
    -webkit-transition: .5s .9s;
    transition: .5s .9s;
  }
/*#videos */
/*___________________________________ LAYOUT ___________________________________ */
  video { 
    width:710px; 
    height:400px;  
    background:transparent url('') no-repeat 0 0; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
  }
  p {
    margin-left:3em;
  }
</style>
<div style="height: 100%; overflow-x: hidden; text-align: center">
  {% for property_video in property.videos %}
    <div class="csslider infinity" id="slider1">
      {% for i in property.videos %}
        <input type="radio" name="slides" {% if forloop.first %}checked="checked" {% endif %} id="slides_{{ forloop.counter }}"/>
      {% endfor %}
      <ul>
        <li>
          <p style="font-weight:bold; font-size:48px">
            This is a pure CSS video slider, forked from <a href="https://codepen.io/drygiel" style="color:orange">Damian Drygiel</a>'s <a href="https://codepen.io/drygiel/pen/rtpnE" style="color:cyan">Pure CSS slider</a>. Although due to using YouTube embed codes, it's technically not pure CSS as YouTube uses JavaScript. 
          </p>
        </li>
        <li>
          <p>
            <iframe width="710px" height="400px" src="{{ property_video.video.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </p>
        </li>
      </ul>
      <div class="arrows">
        {% for i in property.videos %}
          <label for="slides_{{ forloop.counter }}"></label>
        {% endfor %}
        <label class="goto-first" for="slides_1"></label>
        <label class="goto-last" for="slides_{{ property.videos|length }}"></label>
      </div>
      <div class="navigation"> 
        <div>
          {% for i in property.videos %}
            <label for="slides_{{ forloop.counter }}"></label>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endcomment %}

<div class="container-xxl py-3">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-4 wow fadeIn custom-height" data-wow-delay="0.1s">
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <h4 class="mb-4 my-5 mx-3">Size</h4>
          {% if land.size %}
          {% for size in land.size|split_lines %}
          <ul style="white-space: nowrap;">
            <li>{{ size }}</li>
          </ul>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="col-lg-4 wow fadeIn custom-height" data-wow-delay="0.1s">
        {% if land.price %}
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <h4 class="mb-4 my-5">Price</h4>
          <p class="" style="margin-left:0; white-space: nowrap; font-size:17px">{{ land.price|linebreaksbr }}</p>
        </div>
        {% endif %}
      </div>
      <div class="col-lg-4 wow fadeIn custom-height" data-wow-delay="0.1s">
        {% if land.coordinates != 'N/A' %}
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
          <h4 class="mb-4 my-5">Location</h4>
          {{ land.coordinates | safe }}
        </div>
        {% endif %}
      </div>
      <div class="container">
        <button class="btn btn-primary py-3 px-4 mx-4" style="display: inline-block;"><i class="fas fa-phone" style="font-size:25px;"></i></button>
        <div style="display: inline-block; vertical-align: top;">
            <p class=" fw-bold" style="font-size:23px; color:#0E2E50; margin-left:0"> Contact Our Sales Team </p>
            <p style="font-size:18px;margin-left:0"> +254 796 212 013 </p>
        </div>
    </div>
  </div>
</div>  
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var titleHeight = document.querySelector(".col-lg-6 h2").offsetHeight;
    var descriptionContainer = document.getElementById("description-container");
    descriptionContainer.style.marginTop = (titleHeight + 20) + "px";
});
</script> 
{% endblock %}