{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

<div class="container-xxl py-3">
    <div class="container">
        {% if property.image_set.all %}
            {% with first_image=property.image_set.first %}
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <h2 class="mb-3">{{property.title}}</h2>
                {% if property.price %}    
                        <h5 class="text-primary">{{ property.price }}</h5>
                {% endif %}
                <div class="pb-3 pe-0" >
                    <img class="img-fluid shadow-example" src="{{ first_image.image.url }}" alt="{{ property.title }}" style="height: 450px; width: 100%; object-fit: cover; border-radius: 4px;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" >
                <div class="" style="margin-top:120px; margin-left:20px;">
                    <h4 class=" text-primary">Description</h4>
                    <p class="" style="letter-spacing:1px; font-size:17px">{{ property.description|linebreaks }}</p>
                </div>   
            </div>
        </div>
            {% endwith %}
        {% endif %}
    </div>
</div>

<!-- Search Start -->
<div class="container-xxl py-5">
  <div class="container">
      <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
        {% for property_image in property_images %}
          {% if property_image.title != 'Site Map' and property_image.title != 'overview' and property_image.title != '1stflr' and property_image.title != '2ndflr' and property_image.title != '3rdflr' %}
            <div class="testimonial-item bg-light rounded p-3">
              <div class="bg-white border rounded p-4">
                  <div class="d-flex align-items-center">
                    <img src="{{ property_image.image.url }}" class="d-block w-100" alt="{{ property.title }} - Image {{ forloop.counter }}" style="height:300px; 300px;">
                  </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
  </div>
</div>
<!-- Search End -->

<div class="container-xxl py-3">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <h3 class="mb-4 my-5 ">Amenities</h3>
                <div class="pb-3 pe-0" style="font-size: 17px;" >
                    <ul >
                        {% if property.amenities %}
                            {% for amenity in property.amenities|split_lines %}
                                <li>{{ amenity }}</li>
                                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                    </ul><ul>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <li>No amenities specified</li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" >
                <style>
                    /* Custom style for white background */
                    .custom-accordion-item {
                      background-color: white;
                    }
                  </style>
                  
                  {% if site_map_images.exists %}
                  <h3 class="mb-4 my-5 ">Site Plan</h3>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Site Plan
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for site_map_image in site_map_images %}
                                  <img class="img-fluid" src="{{ site_map_image.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      {% endif %}

                      {% if aerial_view_images.exists %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Ariel View
                            </button>
                          </h2>
                          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for aerial_view_image in aerial_view_images %}
                                  <img class="img-fluid" src="{{ aerial_view_image.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      {% if first_floors.exists %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              1st Floor
                            </button>
                          </h2>
                          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for first_floor in first_floors %}
                                  <img class="img-fluid" src="{{ first_floor.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      {% if second_floors.exists %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              2nd Floor
                            </button>
                          </h2>
                          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for second_floor in second_floors %}
                                  <img class="img-fluid" src="{{ second_floor.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      {% if third_floors.exists %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              3rd Floor
                            </button>
                          </h2>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for third_floor in third_floors %}
                                  <img class="img-fluid" src="{{ third_floor.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      {% if fourth_floors.exists %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              4th Floor
                            </button>
                          </h2>
                          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for fourth_floor in fourth_floors %}
                                  <img class="img-fluid" src="{{ fourth_floor.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      {% if fifth_floors.exists %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              5th Floor
                            </button>
                          </h2>
                          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {% for fifth_floor in fifth_floors %}
                                  <img class="img-fluid" src="{{ fifth_floor.image.url }}" alt="{{ property.title }} - Site Map">
                              {% endfor %}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      {% if not property.coordinates %}
                         <div class="accordion-item custom-accordion-item">
                          <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed custom-accordion-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Location
                            </button>
                          </h2>
                          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                              {{ property.coordinates | safe }}
                            </div>
                          </div>
                        </div> 
                      {% endif %}
                      </div> 
                    </div>
            </div>
    
        </div> 
</div>
<div class="container-xxl py-3">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
          {% if property.nearby %}
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <h4 class="mb-4 my-5 " style="white-space: nowrap;">Nearby Places</h4>
                <table class="table table-striped"style="width: 400px;">
                  <thead>
                    <th style="background: #0e2e50; color: #fff"> Nearby Places & Attractions</th>
                  </thead>
                  <tbody>
                    {% for line in property.nearby|split_lines %}
                      <tr>
                        <td>{{ line }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          {% endif %}
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <h4 class="mb-4 my-5 mx-3">Size</h4>
              {% if property.size%}
              {% for size in property.size|split_lines %}
              <ul style="white-space: nowrap;">
                <li> {{size}}</li>
              </ul>
              {% endfor %}
              {% endif %}
            </div>
      </div>
      <div class="col-lg-3 wow fadeIn" data-wow-delay="0.1s">
        {% if property.price or property.payment_plan %}
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              {% if property.price_details != 'empty' or property.payment_plan != 'N/A' %}
                    <h4 class="mb-4 my-5">Price</h4>
              {% if property.price_details != 'empty' %}
                      
                      <p class="" style="white-space: nowrap; font-size:17px">{{ property.price_details }}</p>
                  {% endif %}
                  {% if property.payment_plan != 'N/A' %}
                      <p class="" style="white-space: nowrap; font-size:17px">{{ property.payment_plan }}</p>
                  {% endif %}
              {% endif %}
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>  
{% endblock %}