{% extends 'base.html'%}
{% load static %}

{% block content %}
<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
<div class="container-xxl py-5">
<div class="container">
    <div class="container">
        <div class="col-lg-12 wow fadeIn text-center" data-wow-delay="0.5s">
            <h2 class="mb-4 text-primary">Apartments </h2>
        </div>
    </div>
<div class="row g-4">
    {% for property in properties %}
    {% if property.image_set.all %}
    {% with first_image=property.image_set.first %}
    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="property-item rounded overflow-hidden">
            <div class="position-relative overflow-hidden">
                <a href=""><img class="img-fluid"src="{{ first_image.image.url }}" alt="{{ property.title }} Image" style="width:100%; height: 200px;"></a>
            </div>
            <div class="p-4 pb-0">
                <h5 class="text-primary mb-3">...</h5>
                <a class="d-block h5 mb-2" href="">{{ property.title }}</a>
                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ property.location }}</p>
                <a href="{% url 'property_detail' property_title=property.title %}" class="bg-primary rounded text-white start-0 top-0 py-1 px-3" style="margin-bottom:3px;">Details</a>
            </div>
            <div class="d-flex border-top mt-3">
                <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>{{ property_instance.size }}</small>

            </div>
        </div>
    </div>
    {% endwith %}
    {% endif %}
    {% endfor %}
    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
        <a class="btn btn-primary py-3 px-5" href="">Browse More Property</a>
    </div>
</div>
</div>
</div>
{% endblock %}